@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

.container {
    max-width: 100%;
}

.imagem-1 {
    width: 100%;
}

.image-container {
    position: relative;
    margin-bottom: 4rem;   
}
.image-container__two {
    position: relative;
    margin-bottom: 4rem;   
}
.image-1 {
    margin-bottom: 4rem;
}
.imagem__2 {
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.overFinal {
    position: absolute;
    top: 0;
    bottom: 2;
    margin: 60px 150px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
h2 {
    font-family: "Roboto", sans serif;
}

.overlay > h5 {
    font-family: "Roboto", sans serif;
    font-size: 2em;
    margin: 0 0 0 10rem;
}

.component {
    display: flex;
    padding: 0;
}
hr {
    width: 25%;
    padding: 2px;
    background-color: #33c99d;
}

.one {
    background: white;
    color: #033373;
    font-family: "Roboto", sans serif;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
}
.two {
    color: #fd0596;
    font-family: "Roboto", sans serif;
    font-weight: bold;
    font-size: 36px;
}
.paragraph {
    text-align: center;
    font-size: 16px;
    margin-bottom: 4rem;
}

.horizontal-scroll {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.horizontal-scroll > img {
    width: 190px;
    height: 100px;
    border: solid 1px #e1e0e0;
    margin: 0 0.5em;
    border-radius: 4px;
}
.form-style {
    max-width: 100%;
    max-height: 100%;
    margin: 4em auto;
    display: flex;
    justify-content: space-between;
}
.interaction {
    max-width: 70%;
    margin-top: 4rem;
    margin-left: 8rem;
}
.see-videos {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.side {
    background-color: #033373;
    position: relative;
    color: #033373;
    max-width: 55%;
    margin: 20px;
}
.inside {
    background-color: #5b5c5e;
    position: relative;
    color: #5b5c5e;
    max-width: 90%;
    height: 75%;
    margin:5rem -4rem;
}
.banner {
    position: relative;
    color: #5b5c5e;
    max-width: 90%;
    height: 75%;
    margin:5rem;
    right: -8rem;
}
.player {
    max-width: 100%;
    height: 100%;
}

input {
    color: #000919;
    font-weight: bold;
    padding: 10px;
    max-width: 90%;
    border-radius: 8px;
}

input:hover {
    background-color: #033373;
    color: #fff;
}
.field-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
 h1 {
    font-size: 36px;
    font-weight: bold;
    color: #33c99d;
 }
 .title {
    position: absolute;
    width: 40%;
    right: 10px;
 }
 .news-sistems {
    text-align: center;
    font-size: 16px;
 }
 .titleCards {
    margin-top: 1rem;
    background-color: #33c99d;
    position: relative;
    height: 590px;
    border-radius: 8px;
 }

 .photo {
    width: 300px;
    height: 250px;
    border-radius: 8px;
 }
 .sequency-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: visible;
 }
 .description {
    background-color: #fff;
    margin-top: -8px;
    color: #033373;
    width: 280px;
    text-align: justify;
    padding: 1rem;
}

 span {
    color: #000919;
    font-weight: bold;
    font-size: 16px;
 }

 button {
    font-size: 16px;
    color: #fff;
    margin-top: 5rem;
    margin-left: 40%;
 }
 .button__custom {
    font-size: 16px;
    color: #000;
    margin-top: 5rem;
    margin-left: 10%;
 }
 .button__ {
    font-size: 16px;
    color: #000;
    width: 100%;
    margin-top: 5rem;
    margin-left: 10%;
 }
 .plans {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 8rem;
 }
 .suport {
    width: 35%;
    font-size: 15px;
    font-weight: 900;
}
.four {
    color: #33c99d;
    font-weight: 900;
}
.plans__vgv {
    font-size: 9rem;
}

.two__plans {
    color: #fd0596;
    font-family: "Roboto", sans serif;
    font-weight: bold;
    font-size: 10rem;
}
.mod__title {
    text-align: center;
    margin: 5rem;
}

.modify {
    font-size: 5rem;
    margin: 5px;
    color: #033373;
    letter-spacing: 2px;
}

.modify__two {
    font-size: 5rem;
    margin: 5px;
    color: #fd0596;
    letter-spacing: 2px;
}
.solicitations {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.prohibited {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.field-solicitations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.nome-completo {
    width: 50%;
    padding: 4rem;
}

.whatsapp {
    width: 50%;
    padding: 4rem;
}

.e-mail {
    width: 75%;
    padding: 4rem;
}
.solicitar {
    width: 25%;
    padding: 4rem;
    font-size: 15px;
    color: #fff;
    background-color: #fd0596;
}

input::placeholder {
    color: #000;
    font-size: 20px;
}
.solicitar::placeholder {
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.mod__title__02 {
    text-align: center;
    font-size: 6rem;
    color: #033373;
    font-weight: bold;
    margin: 5rem;
}
.finals__cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: column-reverse;
}
.img-finals {
    width: 560px;
    height: 250px;
}
.img-hidden {
    display: none;
}
h4 {
    font-weight: 900;
    font-size: 32px;
    color: #033373;
}
.mode__h4 {
    font-weight: 900;
    font-size: 2rem;
    color: #000;
    width: 60%; 
}
.text-hidden {
    display: none;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background-color: #033373;
    height: 200px;
    width: 100%;
}
.foot-img {
    width: 100px;
    height: 50px;
    margin-left: 2px;
}
.div__image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100px;
    height: 50px;
    margin-left: 2px;  
}
ul {
    display: flex;
    flex-direction: column;
    color: #33c99d;
    font-size: 16px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .component {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .imagem-1 {
        height: 100%;
    }
    .overlay {
        height: 200px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 100px;
    }
    .overlay > h5 {
        display: none;
    }
    hr {
        display: none;
    }
    .paragraph {
        font-size: 16px;
        font-weight: bold;
        color: #033373;
    }
}

@media (max-width: 768px) {
    .form-style {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
    }
    .interaction {
        margin: auto;
    }  
    .player {
        display: none;
    }
}
@media (max-width: 768px) {
    .titleCards{
        height: 100%;
        margin: auto;
        padding: 2rem;
    }
    button {
        display: none;
    }
    .sequency-cards {
        display: flex;
        flex-direction: column;
    }
    .description {
        width: 97%;
        border-radius: 8px;
        margin: -1;
        text-align: center;
    }
    .list-cards {
        max-width: 100%;
    }
    .photo {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .finals__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .img-hidden {
        display: block;
        width: 560px;
        height: 250px;
    }
    h4 {
        margin: 5px;
        text-align: center;

    }
    .mode__h4 {
        text-align: justify;
        margin: auto;
        width: 100%;
    }
    .text-hidden {
        display: none;
    }
}
@media (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .foot-img {
        height: 40px;
        width: 90px;
        margin-bottom: -20;
    }
    ul {
        margin: 0 auto;
        text-align: center;
    }
    .interaction {
        display: none;
    }
    .image-container__two { 
        display: block;
    }
    .solicitations {
        display: none;
    }
    .overFinal {
        display: none;
    }
    .form-style {
        display: none;
    }
    .imagem__2 {
        display: none;
    }
}
@media (max-width: 668px) {
    footer {
        height: 100%;
        width: 100%;
    }
    .foot-img {
        margin-top: 2rem;
    }
    ul {
        margin-top: 1rem;
    }
}